<html>
<head>
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        .point {
            position: absolute;
            width: 10px;
            height: 10px;
        }
        .point .fruit {
            width: 40px;
            height: auto;
            margin-left: -8px;
            margin-top: -21px;
        }
        .player {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: green;
            border-radius: 50%;
        }
        img {
            height: 100%;
        }
        #svg-el {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #wrapper {
            display: flex;
        }
        #animals {
            width: 100%;
            background-color: white;
        }
        #animals .fruit {
            width: 40px;
            height: auto
        }
        #animals .animal {
            width: 80px;
            height: auto
        }
        #animals .mouse .animal {
            transform: scaleX(-1);
        }
        #animals .bunny .animal {
            transform: scaleX(-1);
        }
    </style>
</head>
<body>
    <div id="vue-app">
    </div>
    <script type="template/html" id="template">
        <div id="wrapper">
            <img ref="img" src="/static/floorplan.jpg"></img>
            <svg ref="svg" id="svg-el"></svg>
            <div
                v-for="point in points"
                :id="`point-${cleanCode(point.barcode)}`"
                class="point"
                :style="{'top': yToPx(point.y), 'left': xToPx(point.x), 'width': `${pointSize}px`, 'height': `${pointSize}px`}"
                @mousedown="dragStart($event, point)"
                @click="markPoint(point)"
                :title="point.barcode"
            >
                <img v-if="point.fruit" :src="`/static/${point.fruit}.png`" class="fruit">
            </div>
            <div v-for="(player, key) in players" :id="`player-${cleanCode(key)}`" class="player"></div>
            <div id="animals">
                <div v-for="(animal, key) in animals" :id="`animal-${cleanCode(key)}`">
                    <span class="animal" :class="{[animal.slug]: true}">
                        <img v-if="animal.fruit" :src="`/static/${animal.slug}_eating.gif`" class="animal">
                        <img v-else :src="`/static/${animal.slug}_waiting.png`" class="animal">
                    </span>
                    <img class="fruit" v-for="index in animal.fruit" :key="index" :src="`/static/${animal.fruit_slug}.png`">
                </div>
            </div>
        </div>
    </script>
    <script>
        var app = new Vue({
            el: '#vue-app',
            template: "#template",
            data: () => ({
                points: [],
                players: {},
                animals: {},
                dragTarget: null,
                pointSize: 25,

                playerWidth: 40,

                fireworks: null,
            }),
            mounted() {
                this.fetchTick();
            },
            methods: {
                xToPx(x, offset) {
                    return `${(x * this.imgEl.width) + (offset || 0)}px`;
                },
                yToPx(y, offset) {
                    return `${(y * this.imgEl.height) + (offset || 0)}px`;
                },
                drawLine(barcode1, barcode2) {
                    const el1 = document.querySelector(`#point-${this.cleanCode(barcode1)}`);
                    const el2 = document.querySelector(`#point-${this.cleanCode(barcode2)}`);
                    const b1 = el1.getBoundingClientRect();
                    const b2 = el2.getBoundingClientRect();
                    const newLine = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                    newLine.setAttribute('id', 'line1');
                    newLine.setAttribute('x1', b1.left + b1.width / 2);
                    newLine.setAttribute('y1', b1.top + b1.height / 2);
                    newLine.setAttribute('x2', b2.left + b2.width / 2);
                    newLine.setAttribute('y2', b2.top + b2.height / 2);
                    newLine.setAttribute('style', 'stroke: black; stroke-width: 2;');
                    this.$refs.svg.append(newLine);
                },
                fetchTick() {
                    axios.get('/api/tick')
                        .then(response => {
                            console.log(response.data);
                            this.players = response.data.players;
                            this.points = response.data.codes;
                            this.animals = response.data.animals;
                            this.handlePlayers();
                            setTimeout(this.fetchTick
                            , 500);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                markPoint(point) {
                    axios.post('/api/mark', {barcode: point.barcode})
                },
                cleanCode(code) {
                    return code.replaceAll('/', '').replaceAll(':', '').replaceAll('.', '');
                },
                dragStart(event, point) {
                    this.dragTarget = point;
                    document.onmouseup = this.dragEnd;
                    document.onmousemove = this.updateDragTarget;
                },
                dragEnd() {
                    const target = this.dragTarget;
                    this.dragTarget = null;
                    document.onmouseup = null;
                    document.onmousemove = null;
                    axios.post('/api/modify', {barcode: target.barcode, x: target.x, y: target.y})
                        .then(response => {
                            console.log(response.data);
                            this.fetchPoints();
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                updateDragTarget(event) {
                    event = event || window.event;
                    event.preventDefault();
                    // calculate the new cursor position:
                    this.dragTarget.x = (event.clientX - this.pointSize / 2) / this.imgEl.width;
                    this.dragTarget.y = (event.clientY - this.pointSize / 2) / this.imgEl.height;
                    console.log(this.dragTarget)
                },
                handlePlayers() {
                    // Allow vue to render the player elements, wait a tick
                    this.$nextTick(() => {
                        for (const key in this.players) {
                            const player = this.players[key];
                            const playerEl = document.querySelector(`#player-${this.cleanCode(key)}`);
                            if (player.history.length == 0) {
                                playerEl.style.display = "none";
                                continue
                            }
                            playerEl.style.display = 'block';
                            const point = this.points[player.history.slice(-1)[0]];
                            playerEl.style.top = this.yToPx(point.y, (this.pointSize / 2) - (this.playerWidth / 2));
                            playerEl.style.left = this.xToPx(point.x, (this.pointSize / 2) - (this.playerWidth / 2));
                        }
                    })
                },
            },
            computed: {
                imgEl() {
                    return this.$refs.img;
                }
            }
        });
    </script>
</body>
</html>
